

.container>p{
   font-size: 1.5rem;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   text-shadow: 3px 3px rgba(0, 0, 0, 0.151);
}


.box {
    height: 29vh;
}

.box p {
    position: relative;
    color: white;
    text-shadow: 1px 1px 2px black;
    transform: translateY(20vh);
   text-align: center;
    z-index: 4;
}

.box img {
    position: absolute;
    top:0;
    border-radius: 22px;
     width: 100%;
     height: 90%;

}
.gradient-box{
    position: absolute;
    border-radius: 22px;
   background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));
   z-index: 3;
    width: 100%;
    height: 83.5%;
}